.form {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(63, 63, 63);
  border-bottom: 1px solid rgb(63, 63, 63);
  width: 400px;
  padding: 5px;
}

.lable {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.input {
  margin-top: 5px;
  width: 250px;
}

.button {
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}
