.authList {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.authItem:not(:first-child) {
  margin-left: 10px;
}

.authItem {
  cursor: pointer;
  padding: 5px 10px;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  transition: color 250ms ease-in-out;
}

.authItem:hover {
  color: rgb(228, 47, 47);
}
