.deleteBtn {
  margin-top: 2px;
  background-color: rgb(92, 110, 248);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.contact {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid rgb(63, 63, 63);
  display: flex;
  justify-content: space-between;
}
