.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.formItem {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}

.formItem:not(:first-child) {
  margin-top: 10px;
}
.btn {
  padding: 5px 30px;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}
